<html>

<head>
    <title>Tuvansa</title>
    <!-- 
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://markcell.github.io/jquery-tabledit/assets/js/tabledit.min.js"></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://markcell.github.io/jquery-tabledit/assets/js/tabledit.min.js"></script>

    

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a><%= user.nombre %></a></li>
                    <li><a id="rol"><%= user.rol %></a></li>
                    <li><a class="nav-link " href="/logout">Cerrar Sesion</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 align="center">Inventarios</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="sample_data" class="table table-bordered table-striped"
                        style="width:100%; font-size:11px; ">
                        <thead>
                            <tr>
                                <th>ISEC</th>
                                <th>Codigo</th>
                                <th>Ean</th>
                                <th>Descripcion</th>
                                <th>fecha/pros</th>
                                <th>inv proscai </th>
                                <th>Asignado</th>
                                <th>Disponible</th>
                                <th>Inv/Real</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</body>

</html>

<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        let rol = document.querySelector('#rol').textContent;

        let targets = rol !== 'administrador' ? [4, 9] : [];

        let columnaEditable = rol === 'administrador' ? 8 : 7;

        console.log(rol)

        var dataTable = $('#sample_data').DataTable({
            "processing": true,
            "serverSide": true,
            "order": [],
            "ajax": {
                url: "https://test-1314.herokuapp.com/server",
                type: "GET"
            },
            "columnDefs": [
                {
                    "targets": targets,
                    "visible": false
                }
            ],
            "buttons": [
                'print'
            ]
        });

        if (rol === 'Vendedor') {
            return;
        }

        $('#sample_data').on('draw.dt', function () {
            $('#sample_data').Tabledit({
                //"http://localhost:3000/
                url:'https://test-1314.herokuapp.com/data',
                deleteButton: false,
                /* editButton:false, */
                dataType: 'json',
                //data: { usuario : 'Erick'},
                columns: {
                    identifier: [0, 'ISEQ'],
                    editable: [[columnaEditable, 'ALMCANTREAL']/* , [2, 'last_name'], [3, 'gender', '{"1":"Male","2":"Female"}'] */]
                },
                restoreButton: false,
                onSuccess: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $('#sample_data').DataTable().ajax.reload();
                    if (data.action == 'delete') {
                        $('#' + data.id).remove();
                        $('#sample_data').DataTable().ajax.reload();
                    }
                },
                onFail: function (jqXHR, textStatus, errorThrown) {
                    console.log('onFail(jqXHR, textStatus, errorThrown)');
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                },
            });
        });

    }); 
</script>