<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Latest compiled and minified CSS -->
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->

    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"> -->


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav my-lg-0 ">

                <a class="nav-link user"><%= user.nombre %></a>
                <a class="nav-link rol"><%= user.rol %></a>
                <li class="nav-item ">

                    <a class="nav-link " href="/logout">Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </nav>




    <div class="card text-center mt-5" style="width: 100%;">
        <h5 class="card-header">Inventarios Tuvansa</h5>
        <div class="card-body">
            <table id="example" class="table  table-bordered table-hover " style="width:100%; font-size:11px; ">
                <thead>
                    <tr>
                        <th>ISEC</th>
                        <th>Codigo</th>
                        <th>Ean</th>
                        <th>Descripcion</th>
                        <th>fecha/pros</th>
                        <th>inv proscai </th>
                        <th>Asignado</th>
                        <th>Disponible</th>
                        <th></th>
                        <th>Usuario</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>




      <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/1.7.3/jeditable.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>


    <script>
        $(document).ready(function () {

            const rol = document.querySelector('.rol').textContent;

            let target = rol !== 'administrador' ? [4] : ' ';

            let search = document.querySelector('#example_filter');

            let value = '';

            /*             $('#example').on('search.dt', function () {
                            value = $('.dataTables_filter input').val();
            
                            console.log(value); // <-- the value
                        }); */

            var oTable = $('#example').DataTable({
                "bProcessing": true,
                "bServerSide": true,

                //https://test-1314.herokuapp.com/
                "sAjaxSource": "http://localhost:3000/server",

                "aoColumns": [
                    { "mData": 0 },
                    { "mData": 1 },
                    { "mData": 2 },
                    { "mData": 3 },
                    { "mData": 4 },
                    { "mData": 5 },
                    { "mData": 6 },
                    { "mData": 7 },

                    { "sTitle": "Inventario Real", "mData": 8, "className": "inventarios" },
                    { "mData": 9 },

                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": target }


                ],
                "fnDrawCallback": function () {



                    if (rol === 'Vendedor') {
                        return
                    }



                    //http://localhost:3000/
                    $('.inventarios').editable('http://localhost:3000/data', {
                        tooltip: "Ingresa",
                        event: "click",
                        //style: "inherit",
                        type: "text",

                        "submitdata": function (value, settings, result) {
                            //refresca el campo con el nuevo valor
                            //location.reload();
                            //oTable.cell(this).data(value).draw(); 
/*                             console.log(oTable.cell(this).data(5).draw());
                            console.log(oTable.cell(this.parentElement.children[9]).data(88888).draw());
                            console.log(this)
                            var aPos = oTable.fnGetPosition(this);
                            console.log(aPos);
                            oTable.fnUpdate(value, aPos[0], aPos[1]); */

                            oTable.draw()

                            //oTable.search('01103037').draw();

                            return {
                                "iseq": this.parentElement.querySelector('.sorting_1').textContent,


                            }
                        }


                    })




                }





            })



            /*            oTable.on('submitdata', function () {
                           console.log('table has been re-drawn')
                       });
           
           
                              $('.dataTables_filter input').unbind().keyup(function () {
                                       var value = $(this).val();
                                       console.log(value); 
                                       if (value.length > 3) {
                                           oTable.search(value).draw();
                                       }
                                   });  */





        });


    </script>
</body>

</html>