<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> © 2017 Admin Pro by wrappixel.com </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->

<script src="plugins/bootstrap/js/popper.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="js/waves.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="js/jasny-bootstrap.js"></script>
<!--sparkline JavaScript -->
<script src="plugins/sparkline/jquery.sparkline.min.js"></script>
<script src="plugins/styleswitcher/jQuery.style.switcher.js"></script>

<!--c3 JavaScript -->
<script src="plugins/d3/d3.min.js"></script>
<script src="plugins/c3-master/c3.min.js"></script>
<!-- Popup message jquery -->
<script src="plugins/toast-master/js/jquery.toast.js"></script>

<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="plugins/styleswitcher/jQuery.style.switcher.js"></script>

<!-- Data tables -->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>


<script src="js/tabledit/jquery.tabledit.js"></script>
<!-- Buttons -->
<script type="text/javascript" language="javascript"
    src="https://nightly.datatables.net/buttons/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://nightly.datatables.net/buttons/js/buttons.flash.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript"
    src="https://nightly.datatables.net/buttons/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://nightly.datatables.net/buttons/js/buttons.print.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!-- pdfViewer -->
    <script src="js/pdfViewer/pdfModal.js"></script>
</body>

</html>