<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile active"> 
                    <a aria-expanded="false" >
                        <img src="images/users/default.png" alt="user" />
                        <span class="hide-menu">
                         
                            <%= data.user.nombre %>
                            <%= data.user.apellido %>
                          
                        </span>
                    </a>
                    <!-- <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a href="javascript:void()">Account Setting</a></li>
                        <li><a href="javascript:void()">Logout</a></li>
                    </ul> -->
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span
                                class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">
                        <% if(data.user.rol==='administrador' ){ %>
                            <li><a href="/estadisticas">Estadisticas</a></li>
                            <% } %>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-home"></i><span class="hide-menu">Almacen</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <% if(data.user.rol==='administrador' ){ %>
                            <li><a href="/inventarios">Inventarios</a></li>
                            <li><a href="/certificados">Certificados</a></li>

                        <% }%>

                        <% if(data.user.rol==='Almacenista' ){ %>

                            <li><a href="/inventarios">Inventarios</a></li>
                            <li class="text-danger"> <a>Certificados</a> </li>

                        <% }%>

                        <% if(data.user.rol==='Certificados' ){ %>

                            <li class="text-danger"> <a>Inventarios</a> </li>
                            <li><a href="/certificados">Certificados</a></li>

                        <% }%>

                        <% if(data.user.rol !=='Certificados' && data.user.rol !=='Almacenista' && data.user.rol !=='administrador' ){ %>

                            <li class="text-danger"> <a>Inventarios</a> </li>
                            <li class="text-danger"> <a>Certificados</a> </li>

                        <% }%>

                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                            class="mdi mdi-currency-usd"></i><span class="hide-menu">Ventas</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <% if(data.user.rol==='Vendedor' || data.user.rol==='administrador' ){ %>

                            <li><a href="/certificadosVentas">Certificados</a></li>
                            <% } else { %>

                                <li class="text-danger">Certificados</li>

                            <% } %>
                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-calculator"></i><span class="hide-menu">Contabilidad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <% if(data.user.upload===1 || data.user.rol==='administrador' ){ %>
                            <li><a href="/cierre">Subir Archivos de Cierre</a></li>
                            <% } else { %>

                                <li class="text-danger">  <a>Subir Archivos de Cierre</a> </li>

                                <% } %>


                    </ul>
                </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>