<!--Alta                  Modal Proveedores-->
<div class=" fade modal " id="windowProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Busqueda</h5>
                <button type="button" id="boton" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="TablaProveedores" class="table table-hover " style="width:100%;">
                    <thead>
                        <tr>
                            <td>Codigo</td>
                            <td>Proveedor</td>
                            <td>RFC</td>
                            <td>Entrada</td>
                            <td>Fecha </td>
                            <td>DREFER </td>
                            <td>Orden Compra </td>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



<div class=" modal fade " id="windowProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Busqueda</h5>
                <button type="button" id="boton" class="close" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#windowProveedor">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="TablaProductos" class="table table-hover table-sm" style="width:100%; font-size:11px; ">
                    <thead>
                        <tr>
                            <td>Codigo</td>
                            <td>Nombre</td>
                            <td>RFC</td>
                            <td>Entrada</td>
                            <td>Fecha </td>
                            <td>Fac Prov</td>
                            <td>Orden Compra</td>
                            <td>Codigo</td>
                            <td>EAN</td>
                            <td>Descripcion</td>
                            <td>Cantidad </td>
                            <td>Unidad</td>
                            
                            <td>Sucursal</td>
                            <td>Colada</td>
                            
                    
                        </tr>

                        <tbody></tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class=" modal fade " id="modalCertificados" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title text-center ">Editar</h5>
                <button type="button" id="boton" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="TablaCertificados" class="table table-hover " >
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Codigo</td>
                            <td>EAN</td>
                            <td>Descripcion</td>
                            <td>Cantidad </td>
                            <td>Colada</td>
                            <td>Certificado</td>
                            
                        </tr>

                        <tbody></tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div class=" modal fade " id="modalProductosEntradas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title text-center ">Consulta Codigos</h5>
                <button type="button" id="boton" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="tableProductosEntradas" class="table table-hover table-sm" style="width:100%;  ">
                    <thead>
                        <tr>
                        
                            <td>Codigo</td>
                            <td>EAN</td>
                            <td>Descripcion</td>
                            <td>Cantidad </td>
                            <td>Entrada</td>
                            <td>Proveedor</td>
                            <td>Orden Compra</td>
                            <td> Fecha </td>
                            
                        </tr>

                        <tbody></tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>